/*Put style here

Butter Cream #EDE56A
Faded Lost Boy #67CACC
Pink Cocolate #E09BB2
Of Ice and Snow #B7EAC3
Verd #91F4AC

*/
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
    /*font-family: 'Shadows Into Light', cursive;*/
    background-image: url('../images/brickwall/brickwall.png');
    }
h1 {
    color: #67CACC;
    font-size: 3em;
    text-align: center;
    }
p {
    color: #E09BB2;
    font-size: 1.5em;
    }
.scaled-image {
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    }
.home {
    border: 5px dotted #91F4AC;
}
.resume {
    border: 5px dotted #91F4AC;
}
.writing {
    border: 5px dotted #91F4AC;
}
.about {
    border: 5px dotted #91F4AC;
}
