/*Put style here

Butter Cream #EDE56A
Faded Lost Boy #67CACC
Pink Cocolate #E09BB2
Of Ice and Snow #B7EAC3
Verd #91F4AC

*/
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
    background-color: ;
    /*font-family: 'Shadows Into Light', cursive;*/
    background-image: url('../images/diagmonds/diagmonds.png');
    }

h1 {
    color:#67CACC;
    font-size: 2em;
    }

p {
    color:#91F4AC;
    font-size: 1.5em;
    }


.images {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    }
    .home {
        border: 5px dotted #E09BB2;
        }
    .resume {
        border: 5px dotted #E09BB2;
        }
    .writing {
        border: 5px dotted #E09BB2;
        }
    .about {
        border: 5px dotted #E09BB2;
        }
