/*Put style here

Butter Cream #EDE56A
Faded Lost Boy #67CACC
Pink Cocolate #E09BB2
Of Ice and Snow #B7EAC3
Verd #91F4AC

*/
    body{
        background-color: ;
        }
        h1{  
          color:#E09BB2;
          font-family: cursive;
          font-size: 40px;
          }

        .color1{
          width: 200px;
          height: 200px;
          background-color: #67CACC;
        }

        .color2{
          width: 200px;
          height: 200px;
          background-color: #E09BB2;
        }

        .color3{
          width: 200px;
          height: 200px;
          background-color: #91F4AC;
        }

        h2{
          text-align: center;
          font-family: cursive;
          color: ;
          font-size: 25px;
          }
        p{
          font-family: Arial;
          font-size: 18px;
          color: ;
        }
        a{
          color: #E09BB2;
          font-family: Arial;
          font-size: 18px;
        }
/*End style*/